body {
    font-family: Arial, sans-serif;
    background-color: #f6f7f8;
    margin: 0;
    padding: 0;
}

header {
    background: #ff4500;
    padding: 10px 20px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.sidebar {
    flex: 1;
    margin-right: 20px;
}

.main-content {
    flex: 3;
}

.profile {
    flex: 1;
    margin-left: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button {
    background: #ff4500;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

    button:hover {
        background: #e03d00;
    }

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

    li:last-child {
        margin-bottom: 0;
    }

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

    nav a:hover {
        text-decoration: underline;
    }
